<li>
	{{name}}

	<button class="change-eated_up" data-id="{{id}}" data-neweated_up="{{eated_up}}">
		{{#if eated_up}}EATED UP!{{else}}EAT ME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
